In [4]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     |████████████████████████████████| 771 kB 13.4 MB/s
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=2626502 sha256=ef41c7888d878a556f354541aa0875e5487939e8702b2a2e1ad2326f135b7c51
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [5]:
import surprise

In [6]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
ratings = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
ratings['rating'].min(), ratings['rating'].max()

(0.5, 5.0)

In [12]:
reader = Reader(rating_scale=(0.5, 5))

In [13]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader=reader)
data

In [14]:
svd = SVD(random_state=0)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9036  0.9005  0.8909  0.8890  0.8969  0.8962  0.0055
MAE (testset)     0.6966  0.6951  0.6850  0.6839  0.6915  0.6904  0.0051
Fit time          1.01    1.03    1.02    1.05    1.03    1.03    0.01
Test time         0.20    0.13    0.12    0.19    0.12    0.15    0.03

{'test_rmse': array([0.90360681, 0.90051037, 0.89086319, 0.88903668, 0.89692837]),
 'test_mae': array([0.69658781, 0.6950586 , 0.68501752, 0.68392252, 0.69145701]),
 'fit_time': (1.0121235847473145,
  1.0290186405181885,
  1.0165324211120605,
  1.0462908744812012,
  1.028489589691162),
 'test_time': (0.19886469841003418,
  0.12644219398498535,
  0.12343049049377441,
  0.1884021759033203,
  0.12204980850219727)}

Cross Validation

In [15]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [16]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [17]:
svd.predict(1, 1029, 3) # UserId = 1 번인 사람이 Movie Id = 1029 인 영화에 대해서 실제 평가 3점일 때, 예측 평가 점수

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})

In [18]:
ratings[ratings['userId'] == 100]

       userId  movieId  rating  timestamp
15273     100        1     4.0  854193977
15274     100        3     4.0  854194024
15275     100        6     3.0  854194023
15276     100        7     3.0  854194024
15277     100       25     4.0  854193977
15278     100       32     5.0  854193977
15279     100       52     3.0  854194056
15280     100       62     3.0  854193977
15281     100       86     3.0  854194208
15282     100       88     2.0  854194208
15283     100       95     3.0  854193977
15284     100      135     3.0  854194086
15285     100      141     3.0  854193977
15286     100      608     4.0  854194024
15287     100      648     3.0  854193977
15288     100      661     3.0  854194086
15289     100      708     3.0  854194056
15290     100      733     3.0  854194024
15291     100      736     3.0  854193977
15292     100      745     4.0  854194208
15293     100      780     3.0  854193977
15294     100      786     3.0  854194056
15295     100      802     4.0  854194111
15296     100     1073     5.0  854194056
15297     100     1356     4.0  854194086

In [19]:
svd.predict(100, 1029)

Prediction(uid=100, iid=1029, r_ui=None, est=3.7705476478414846, details={'was_impossible': False})